<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patents across the USA</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/starter-template.css">
  <script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .row {
        text-align: center;
    }
</style>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<div class="well">
    <div class='container'>
        <div class='row'>
      <h2> Total No Patents/Inventors By Top Corporations In The USA.</h2>
    
        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>Patent App</title>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li><a style="background-color: lightgray;" href="{{ url_for('home') }}"></a></li>

          <li class="nav-item active">
           
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspop="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url_for('home') }}">Worldwide map of Patents</a>
              <a class="dropdown-item" href="{{ url_for('states') }}">More patents</a>
              <a class="dropdown-item" href="{{ url_for('patent_info') }}">US patent information</a>
            </div>
          </li>
        </ul>
        
      </div>
    </nav>
      
    <div class="well">
      <div class="container"></div>
      <div class="row"></div>
      <h2> Total No Patents/Inventors By Top Corporations In The USA.</h2>
      <div id="chart"></div>

      <button class="btn btn-outline-primary" onclick="update('assignee_total_num_patents')">Patents</button>
      <button class="btn btn-outline-primary" onclick="update('assignee_total_num_inventors')">Inventors</button>
        
      </div>
    <div class="well">
      <div id="myDiv2"></div>
    </div>

    
      <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
         
          <p class="text-center">Elisabeth Shaw, Mustafa Ancin, Patrick Cardozo, Antonia Njoku</p>
        </footer>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app2.js') }}"></script>

</body>

</html>
